@charset "utf-8";

/* 공통 */
html {
    font-size: 62.5%; /* 1rem = 10px */
}
:root {
    /* color */
    --main: #104eff;
    --white: #fff;
    --black: #000;
    --gray2: #222;
    --gray3: #333;
    --gray4: #444;
    --gray6: #666;
    --gray7: #777;
    --gray9: #999;
    --graya:#a2a2a2;
    --bg: #f3f6ff;

    /* 간격 */
    --contentmargin: 6rem; /* 60px */

    /* 폰트사이즈 */
    --h1: 5rem;      /* 50px */
    --h2: 4rem;      /* 40px */
    --h3: 3.4rem;    /* 34px */
    --subtitle: 3rem;/* 30px */
    --txtM_1: 2.8rem;/* 28px */
    --txtR_1: 2.4rem;/* 24px */
    --txtR_2: 2.2rem;/* 22px */
    --txtR_3: 2rem;  /* 20px */
    --txtS_1: 1.8rem;/* 18px */
    --txtS_2: 1.6rem;/* 16px */ 
}
/* html, body {
    scroll-behavior: smooth;
} */
.coding {
  scroll-snap-align: none !important;
  scroll-snap-stop: normal !important;
}
.innerBox {
    max-width: 144rem; /* 1440px */
    margin: 0 auto;
}

.subtitle {
    font-size: var(--h2);
    font-weight: 500;
    margin: 14rem 0 0 0;
    display: inline-block;
}

/* header */
header .PCgnb {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 8rem;
    z-index: 10;
}
header .PCgnb .gnbinner {
    width: 144rem;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

header .PCgnb ul {
    font-size: var(--txtR_2);
    font-weight: 50rem;
    display: flex;
    justify-content: center;
    gap: 6rem;
}

header h1 {
    font-size: var(--txtM_1);
    color: var(--main);
}
header .PCgnb ul li:hover {
    color: var(--main);
}
header .PCgnb ul li a.active {
    color: var(--main);
}

header .PCgnb.fixed{
        background: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(10px);
        box-shadow: -10px 15px 7px -10px rgba(0,0,0, 0.05);
        z-index: 20;
        }
/* header mobile */
header .mobilegnb{
    display: none;
}


/* main visual 영역 */
.mainVisual {
    width: 100%;
    height: 100vh;
    background: url(../img/main_bg.png) no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
.mainVisual .innerBox {
    margin-top: -15rem;
}

.mainVisual .innerBox .titleBox p {
    font-size: var(--subtitle);
    line-height: 1.5;
    color: var(--main);
    text-align: center;
}

.mainVisual .innerBox .titleBox h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9.6rem;
    margin-bottom: 3rem;
}

/* about */
.about {
    width: 100%;
    height: 100vh;
    background: #292929;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.about h2 {
    color: var(--white);
}

.about figure {
    margin-left: -20rem;
    width: 67.4rem;
}

.about .aboutBox {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.about .aboutBox .txtBox .aboutText li:first-child ul {
    display: flex;
    gap: 1rem;
}

.about .aboutBox .txtBox .aboutText li span {
    font-size: var(--subtitle);
    font-weight: 500;
    display: inline-block;
    margin-bottom: 3rem;
}

.about .aboutBox .txtBox .aboutText li ul li {
    font-size: var(--txtR_2);
    font-weight: 400;
    line-height: 1.7;

}

.about .aboutBox .txtBox .aboutText {
    width: 80rem;
    display: grid;
            grid-template-columns: repeat(2, auto);
    color: #fff;
}

.about .aboutBox .txtBox .aboutText>li {
    margin-bottom: 2rem;
}

/* design ======================= */

.design {
    max-width: 100%;
    position: relative;
    padding-bottom: 60px;
}

.design .innerBox .subtitle {
    margin-bottom: 1rem;
}

.design .innerBox .tab{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 4rem 0;
    cursor: pointer;
}
.design .innerBox .tab li{
    font-size: var(--txtR_2);
    font-weight: 500;
    padding: 14px 22px;
    border-radius: 30px;
    border: 1px solid #000;
}
.design .innerBox .tab li.on{
    background: var(--black);
    color: var(--white);
} 

.design .innerBox .designlist{
    width: 100%;
}
.design .designlist ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vw;
}
.design .designlist ul li a figure{
    width: 100%;
    aspect-ratio: 1 / 1; 
    border-radius: 3rem;
    overflow: hidden ;
}

.design .designlist li a figure img{
    width: 100%;
}
.design .designlist li a figure:hover img{
    scale: 110%;
    transition: all 0.6s ease;
}
.design .designlist .img_txt {
    margin: 20px 0;
}
.design .designlist .img_txt span{
    font-size: var(--txtM_1);
    font-weight: 600;
}
.design .designlist .img_txt p{
    font-size: var(--txtS_1);
    line-height: 2;
    color: var(--gray4);
}

/* 탭 */
.list {
    display: none;
}

.list.on {
    display: block;
}

/* coding =======================*/
.reveal {
    opacity: 1;
    transform: none;
}

.coding {
    background: var(--bg);
}
.coding h2{
    font-size: var(--h2);
    line-height: 1.2;
    font-weight: 500;
}
.coding .coding_Box {
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items:flex-end;
    margin: 13.8rem 0 12rem;
}
.coding .videoBox{ width: 18rem; height: 9rem; margin-left: 2rem;}

.coding .left {
    margin: 0 10rem 0 0;
}

.coding .left strong {
    font-size: var(--h2);
    font-weight: 500;
    margin-bottom: 3rem;
    display: block;
}

.coding .left strong em {
    font-size: var(--h1);
    font-weight: 600;
}

.coding .left p {
    font-size: var(--txtR_1);
    line-height: 1.4;
}

.coding .contWrap {
    display: flex;
    justify-content: flex-start;
    gap: 10rem;
    align-items: center;
}

.coding #pinPanel {
    position: relative;
    min-height: 100vh;
    display: grid;
    align-content: start;
}

#scrollArea {
    /* 스크롤 트리거가 걸릴 실제 긴 영역 */
    margin: 11.4rem 0;
    padding: 0;
    list-style: none;
}

.coding .right h3 {
    font-size: var(--h3);
    font-weight: 500;
    margin-bottom: 4.4rem;
    display: block;
}

/* 오른쪽 스크롤 콘텐츠 */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    align-items: start;
}
/* 왼쪽 화면: 항상 화면높이 100포, 내부는 스크롤없이 고정 */
.left .panel {
    border-radius: 1.6rem;
    padding: 3rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
/* 전역 기본: 보이는 상태(모바일 포함) */
.reveal {
    opacity: 1;
    transform: none;
}

/* PC에서만 숨김 초기값(등장 애니메이션용) */
@media (min-width: 1025px) {
    .reveal {
        opacity: 0;
        transform: translateY(2.4rem);
    }
}

@media screen and (max-width: 1024px) {
    .grid {
        grid-template-columns: 1fr
    }

    .left .panel {
        height: auto;
        /* 모바일에서는 자연스러운 흐름 */
        overflow: visible;
        /* 필요 시 내부 높이만큼 확장 */
    }
}
.nothing {
    height: 100rem;
    background: blue;
}

.coding .right .sec {
    margin-bottom: var(--gap);
}
.coding .right .sec .scrollText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 4rem;
}
.coding .right .sec span {
    font-size: var(--h3);
    font-weight: 600;
}
.coding .right .sec p {
    font-size: var(--txtR_1);
    font-weight: 500;
    line-height: 1.5;
}
.coding .right .sec::before {
    content: '';
    display: block;
    width: 100%;
    height: 0.2rem;
    background: #bdc4db;
}
.coding .right .btnWrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.4rem;
    margin-top: 1.8rem;
}
.coding .right .btnWrap .btn {
    font-size: var(--txtR_2);
    font-weight: 500;
    padding: 1.8rem 2.6rem;
    box-sizing: border-box;
    background: var(--black);
    color: var(--white);
    border-radius: 1.4rem;
}
.coding .right .btnWrap .code{
    background: #777;
}
.coding .right .btnWrap .code:hover{
    background: var(--gray9);
    transition: all 0.5s;
}
.coding .right .btnWrap .site:hover{
    background: var(--gray3);
    transition: all 0.5s;
}

/* contact ======================= */
.contact {
    background: url(../img/contact_bg.png) no-repeat center/cover;
    width: 100%;
    height: 100vh;
}

.contact .innerBox {
    text-align: center;
    color: #fff;
}

.contact .innerBox .subtitle {
    margin: 14rem 0 20rem 0;
}

.contact .innerBox span {
    display: block;
    font-size: var(--h2);
    font-weight: 500;
    margin-bottom: 5rem;
}

.contact .innerBox > p {
    font-size: var(--subtitle);
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 5rem;
}

.contact .innerBox>a {
    margin: 0 auto;
    display: block;
    width: 16.4rem;
    height: 6rem;
    font-size: var(--txtR_2);
    font-weight: 500;
    border-radius: 1.4rem;
    color: #104eff;
    background: #fff;
    text-align: center;
    padding: 1.6rem 2rem;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.5s;
}
.contact .innerBox>a:hover{
    color: var(--white);
    background: var(--black);
    transition: all 0.5s;
}

.contact .innerBox>a::after{
    content: '';
    width: 1rem;
    height: 2.2rem;
    margin: 0.1rem auto 0;
    background: url(../img/contact_btn_arrow.png) no-repeat center/contain;
}
.contact .innerBox>a:hover::after{
    content: '';
    background: url(../img/contact_btn_arrow_w.png) no-repeat center/contain;
}