@charset "utf-8";
@media screen and (max-width: 1320px) {
    .about .aboutBox {
        flex-direction: column;
    }

    .about figure {
        margin: 0 auto;
    }

    .about figure img {
        width: 100%;
        padding-right: 3.3rem;
    }

    .about .aboutBox {
        flex-direction: column;
    }

    .about .aboutBox .txtBox {
        margin: 0 auto;
    }
}

/* 태블릿 */
@media screen and (max-width: 1024px) {
    * {
        box-sizing: border-box;
    }

    html {
        font-size: 56.25%;
        /* 1rem = 9px */
    }


    .subtitle {
        padding: 12rem 0 6rem;
        margin: 0 auto;
        display: block;
        text-align: center;
    }

    /* header */
    header .PCgnb {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3.5rem;
        box-sizing: border-box;
        z-index: 10;
    }



    .about {
        margin: 0 auto;
    }

    .innerBox {
        max-width: 106.6rem;
        margin: 0 auto;
    }

    .about figure {
        margin: 0 auto;
    }

    .about figure img {
        width: 100%;
        padding-right: 3.3rem;
    }

    .about .aboutBox {
        flex-direction: column;
    }

    .about .aboutBox .txtBox {
        margin: 0 auto;
    }

    /* design */
    .design .designlist ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2vw;
    }

    /* HTML */
    .coding #pinPanel {
        min-height: 500px;
    }
}
@media (max-width: 768px) {
    html {
        font-size: 56.25%;
        /* 1rem = 9px */
        
    }

    /* common */
    .subtitle {
        padding: 5.5rem 0 3.75rem;
        margin: 0 auto;
        display: block;
        text-align: center;
    }
    .innerBox {
        max-width: 94%;
        margin: 0 auto;
    }

    /* header */
    header h1 {
        font-size: var(--subtitle);
    }

    header .mobilegnb {
        width: 100%;
        height: 8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        box-sizing: border-box;
        z-index: 10;
        background: rgba(255, 255, 255, 0.952);
        position: fixed;
        top: 0;
        left: 0;
    }

    header .mobilegnb .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s ease;
        z-index: 20;
    }

    /* 메뉴 열릴 때 overlay 표시 */
    header .mobilegnb .overlay.on {
        opacity: 1;
        visibility: visible;
    }

    header .mobilegnb>img {
        width: 4.2rem;
    }

    header .mobilegnb .submenu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 60%;
        height: 100vh;
        display: block;
        background: var(--bg);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: right 0.5s ease;
        z-index: 90;
    }

    header .mobilegnb .submenu.on {
        right: 0;
    }

    header .mobilegnb .submenu ul {
        width: 100%;
    }

    header .mobilegnb .submenu ul li {
        font-size: 3.1rem;
        font-weight: 500;
        text-align: center;
        line-height: 3;
        color: var(--black);
    }

    header .mobilegnb .submenu>img {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 4.2rem;
        height: 4.2rem;
        cursor: pointer;
    }

    header .PCgnb {
        display: none;
    }

    .mainVisual .innerBox .titleBox {
        width: 100%;
    }

    .mainVisual .innerBox .titleBox h2 {
        width: 100%;
        height: 100%;
        margin-bottom: 5rem;
    }

    .mainVisual .innerBox .titleBox h2 figure {
        height: 8rem;
    }

    .mainVisual .innerBox .titleBox h2 figure img {
        height: 100%;
    }

    /* about */
    
    .about figure {
        width: 55%;
    }
     .about .aboutBox {
        display: flex;
        justify-content: space-between;
        gap: 3.3rem;
    }
    .about .aboutBox .txtBox .aboutText {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 3.3rem;
    color: #fff;
}

    .about .aboutBox .txtBox .aboutText li span {
        font-size: var(--txtM_1);
        font-weight: 500;
        display: inline-block;
        margin-bottom: 1.75rem;
    }

    /* design */
    .design .designlist ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .design .designlist .img_txt p {
    font-size: var(--txtR_2);
    line-height: 2;
    color: var(--gray4);
}

}
@media (max-width: 480px) {
    html {
         font-size: 50%; 
        /* 1rem = 8px */
    }
    .innerBox {
        max-width: 100%;
        margin: 0 auto;
        padding: 20px;
        box-sizing: border-box;
    }
    /* main */
    .mainVisual .innerBox .titleBox p {
    font-size: var(--txtR_1);
}
    .mainVisual .innerBox .titleBox h2 figure {
        height: 5.5rem;
    }

    /* about */
    .about{
        height: 100%;
    }
    .about figure {
        width: 100%;
    }
    .about .aboutBox .txtBox .aboutText {
    display: grid;
            grid-template-columns: repeat(1, auto);
    color: #fff;
}
    /* design */
    .design .designlist ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .coding .left {
    margin: 0 0 0 0;
}
    .coding .right .sec .scrollText {
    display: flex;
    flex-direction: column;
    align-items:start;
    gap: 20px;
    padding: 4rem 4rem;
}
}