@charset "utf-8";

@media screen and (max-width: 1440px) {
    .innerBox {
        padding: 0 5rem;
    }

    header .PCgnb .gnbinner {
        width: 90%;
    }

    .sub_main .btn {
        padding: 16px 20px;
        margin: 6rem 0 2rem;
    }
}

@media screen and (max-width: 1320px) {
    html {
        font-size: 60%;
        /* 1rem = 9.6px */
    }

    .about .aboutBox {
        flex-direction: column;
    }

    .about figure {
        margin: 0 auto;
    }

    .about figure img {
        width: 100%;
        padding-right: 3.3rem;
    }

    .about .aboutBox {
        flex-direction: column;
    }

    .about .aboutBox .txtBox {
        margin: 0 auto;
    }

    /* sub_common(1320px)============================= */
    .sub_main .innerBox .backbtn {
        margin-bottom: 0;
    }

    .sub_main .innerBox .sub_title {
        color: var(--white);
        margin: 0 0 6rem;
    }


}

@media (min-width: 1025px) {

    /* main============================== */
    /* HTML - PC에서만 숨김 초기값(등장 애니메이션용)  */
    .reveal {
        opacity: 0;
        transform: translateY(2.4rem);
    }
}

/* 태블릿 */
@media screen and (max-width: 1024px) {

    /* main(1024px)============================= */
    * {
        box-sizing: border-box;
    }

    html {
        font-size: 56.25%;
        /* 1rem = 9px */
    }

    .subtitle {
        padding: 12rem 0 6rem;
        margin: 0 auto;
        display: block;
        text-align: center;
    }

    /* header(1024px) */
    header .PCgnb {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3.5rem;
        box-sizing: border-box;
        z-index: 10;
    }

    header .PCgnb ul {
        gap: 4rem;
    }

    .about {
        margin: 0 auto;
    }

    .innerBox {
        max-width: 106.6rem;
        margin: 0 auto;
    }

    .about figure {
        margin: 0 auto;
    }

    .about figure img {
        width: 100%;
        padding-right: 3.3rem;
    }

    .about .aboutBox {
        flex-direction: column;
    }

    .about .aboutBox .txtBox {
        margin: 0 auto;
    }

    /* design(1024px) */
    .design .designlist ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2vw;
    }

    /* HTML(1024px) */
    .coding #pinPanel {
        min-height: 500px;
    }

    .grid {
        grid-template-columns: 1fr
    }

    .left .panel {
        height: auto;
        /* 모바일에서는 자연스러운 흐름 */
        overflow: visible;
        /* 필요 시 내부 높이만큼 확장 */
    }

    /* sub_design_common(1024px) ==========================*/
    .sub_main {
        aspect-ratio: 16 / 10;
    }

    .cont01 .cont01_txtBox {
        flex-direction: column;
        gap: 2rem;
    }
}

@media (max-width: 768px) {
    /* common(768px)==================================== */
    html {
        font-size: 56.25%;
        /* 1rem = 9px */
    }
    .subtitle {
        padding: 5.5rem 0 3.75rem;
        margin: 0 auto;
        display: block;
        text-align: center;
    }

    .innerBox {
        max-width: 94%;
        margin: 0 auto;
    }

    /* header (768px)*/
    header .PCgnb {
        display: none;
    }
    header h1 {
        font-size: var(--txtM_1);
    }

    header .mobilegnb {
        width: 100%;
        height: 8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        box-sizing: border-box;
        z-index: 12;
        background: rgba(255, 255, 255, 0.952);
        position: fixed;
        top: 0;
        left: 0;
    }

    header .mobilegnb .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s ease;
        z-index: 10;
    }

    header .mobilegnb .overlay.on {
        opacity: 1;
        visibility: visible;
    }

    header .mobilegnb img {
        width: 3.1rem; /* 28px */
        padding: 1.1rem;
        box-sizing: content-box;
    }

    header .mobilegnb .submenu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100vh;
        display: block;
        background: var(--bg);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: right 0.5s ease;
        z-index: 90;
    }

    header .mobilegnb .submenu.on {
        right: 0;
    }

    header .mobilegnb .submenu ul {
        width: 100%;
    }

    header .mobilegnb .submenu ul li {
        font-size: 3.1rem;
        font-weight: 500;
        text-align: center;
        line-height: 3;
        color: var(--black);
    }

    header .mobilegnb .submenu>img {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 3.5rem;/* 32px */
        height: 3.5rem;
        cursor: pointer;
    }
    /* index(768px)================================= */
    /* main(768px) */
    .mainVisual .innerBox .titleBox {
        width: 100%;
    }

    .mainVisual .innerBox .titleBox h2 {
        width: 100%;
        height: 100%;
        margin-bottom: 5rem;
    }

    .mainVisual .innerBox .titleBox h2 figure {
        height: 8rem;
    }

    .mainVisual .innerBox .titleBox h2 figure img {
        width: 100%;
    }

    /* about(768px) */

    .about figure {
        width: 55%;
    }

    .about .aboutBox {
        display: flex;
        justify-content: space-between;
        gap: 3.3rem;
    }

    .about .aboutBox .txtBox .aboutText {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 3.3rem;
        color: #fff;
    }

    .about .aboutBox .txtBox .aboutText li span {
        font-size: var(--txtM_1);
        font-weight: 500;
        display: inline-block;
        margin-bottom: 1.75rem;
    }

    /* design(768px) */
    .design .designlist ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .design .designlist .img_txt p {
        font-size: var(--txtR_2);
        line-height: 2;
        color: var(--gray4);
    }

    /* HTML(768px) */
    .coding .left strong {
        font-size: var(--subtitle);
    }

    .coding .left strong em {
        font-size: var(--h2);
    }

    .left .panel {
        padding: 0;
    }

    /* content(768px) */
    .contact .innerBox .subtitle {
        margin: 10rem 0 10rem 0;
    }

    .contact .innerBox span {
        font-size: var(--h3);
    }

    .contact .innerBox>p {
        font-size: var(--txtM_1);
        font-weight: 400;
    }

    /* sub_design_common(768px)========================= */
    .sub_main {
        aspect-ratio: 16 / 12;
    }

    .sub_main .innerBox {
        padding-top: 8rem;
    }

    .sub_main .innerBox .backbtn {
        display: none;
    }

    .sub_main .innerBox .sub_title {
        color: var(--white);
        margin: 2rem 0 3rem;
    }

    .cont02 .innerBox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cont02 .innerBox .img01 {
        width: 100%;
    }

    .cont02 .innerBox .imgapp01 {
        width: 100%;
    }

    .cont02 .innerBox .imgapp02 {
        width: 100%;
    }

    /* subevent(768px)==================================== */
    .subevent .sub_main .innerBox .sub_title {
        margin: 16rem 0 6rem;
    }

    .sub_main .innerBox .sub_title h2 {
        font-size: var(--h2);
    }

    .sub01 .sub_main .btn {
        background: var(--black);
        color: var(--white);
        padding: 1.3rem 1.7rem;
        margin: 4.4rem 0 2.2rem;
    }

    .subevent .sub_main .innerBox .sub_title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: end;
        color: var(--black);
        padding: 0 0 30px;
        margin: 5rem 0 5rem;
        position: relative;
    }

    .subevent .sub_main .innerBox .sub_txtBox {
        flex-direction: row;
    }

    .subevent .sub_main .innerBox .sub_title {
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }
}

@media (max-width: 480px) {
    /* common(480px)================================= */
    html {
        font-size: 50%;
        /* 1rem = 8px */
    }

    .innerBox {
        max-width: 100%;
        margin: 0 auto;
        padding: 0 4rem;
        box-sizing: border-box;
    }

    header .mobilegnb img {
        width: auto;
    }
    /* index(480px)================================= */
    /* main(480px) */
    .mainVisual .innerBox .titleBox p {
        font-size: var(--txtR_1);
    }

    .mainVisual .innerBox .titleBox h2 figure {
        height: 5.5rem;
    }

    /* about(480px) */
    .about {
        height: 100%;
    }

    .about figure {
        width: 100%;
    }

    .about .aboutBox .txtBox .aboutText {
        display: grid;
        grid-template-columns: repeat(1, auto);
        color: #fff;
    }

    .about .aboutBox .txtBox .aboutText li span {
        font-size: var(--txtR_1);
    }

    /* HTML(480px) */
    .coding .right .sec span {
        font-size: var(--subtitle);
        font-weight: 600;
    }

    .coding .right .sec p {
        font-size: var(--txtR_2);
        font-weight: 400;
        line-height: 1.5;
    }

    /* design(480px) */
    .design .innerBox .tab li {
        padding: 12px 14px;
    }

    .design .innerBox .tab {
        gap: 14px;
    }

    .design .designlist ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    /* sub_design_common(480px)======================== */
    .sub_main>.innerBox {
        padding: 8rem 4rem 0;
    }

    .subtitle {
        font-size: var(--h3);
    }

    .sub_main {
        aspect-ratio: 16 / 16;
    }

    .sub_main .innerBox .sub_txtBox {
        flex-direction: column;
        gap: 10px;
    }

    .sub_main .innerBox p {
        font-size: var(--txtR_3);
    }
    .cont02 .innerBox .img02 {
        width: 100%;
    }

}

@media (max-width: 412px) {
    .coding .left {
        margin: 0 0 0 0;
    }

    .coding .right .sec .scrollText {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
        padding: 4rem 4rem;
    }
}