@charset "utf-8";

.wrap {
  display: flex;
  flex-direction: column;
}


/* 메인 */
.sub_main{
    max-width: 100%;
    aspect-ratio: 16 / 7;
}
.sub_main .innerBox .backbtn{
    text-align: right;
    filter: drop-shadow(0 5px 5px rgba(0,0,0,0.1));
    margin-bottom: 5rem;
}
.sub_main .innerBox{
    display: flex;
    justify-content: center;
    height: 100%;
}
.sub_main .innerBox .sub_title{
    color: var(--white);
    margin: 0 0 10rem;
}
.sub_main .innerBox .sub_title h2{
    font-size: var(--h1);
}
.sub_main .innerBox .sub_title span{
    font-size: var(--subtitle);
    font-weight: 500;
}
.sub_main .btn {
    width: fit-content;
    color: var(--white);
    font-size: var(--txtR_3);
    font-weight: 500;
    padding: 18px 26px;
    border: 1px solid var(--white);
    border-radius: 14px;
    margin: 8rem 0 3rem;
}
.sub_main .btn:hover{
    background: var(--white);
    color: var(--black);
    transition: all 0.5s;
}
.sub_main .innerBox .sub_txtBox{
    color: var(--white);
    display: flex;
    justify-content: flex-start;
    gap: 50px;
}
.sub_main .innerBox p{
    font-size: var(--txtR_2);
}
.sub_main .innerBox em{
    font-weight: 600;
    margin-right: 14px;
}

/* cont01*/
.cont01{
    padding: 80px 0;
}
.cont01 h3{
    font-size: var(--h3);
    margin-bottom: 30px;
    display: block;
}
.cont01 .cont01_txtBox{
    display: flex;
    justify-content:flex-start;
    gap: 15rem;

}
.cont01 .cont01_txtBox p{
    font-size: var(--txtR_3);
    line-height: 1.6;
}
.cont01 .cont01_txtBox .txt02{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    margin-bottom: 10px;
}
.cont01 strong{
    font-size: var(--txtR_3);
    font-weight: 600;
}

/* cont02 */
.cont02{
    width: 100%;
    height: 100%;
}
.cont02 .innerBox .img01{
    width: 1001px;
    height: 100%;
}
.cont02 .innerBox figure{
    margin: 100px 0;
}
.cont02 .innerBox .img02{
    width: 370px;
    height: 100%;
}
.cont02 .innerBox img{
    width: 100%;
}
.cont02 .innerBox{
    display: flex;
    justify-content: space-between;
}
/* app_cont02 */
.cont02 .innerBox .imgapp01{
    width: 450px;
    height: 100%;
}
.cont02 .innerBox figure{
    margin: 100px 0;
}
.cont02 .innerBox .imgapp02{
    width: 450px;
    height: 100%;
}
.cont02 .innerBox img{
    width: 100%;
}

/* event */
.subevent header {
    color: var(--black);
}
.subevent .sub_main{
    max-width: 100%;
    aspect-ratio:inherit;
}
.sub_main .innerBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.subevent .sub_main .innerBox .backbtn{
    margin: 12rem 0 0;
}
.subevent .sub_main .innerBox .sub_title{
    width: 100%;    
    display: flex;
    justify-content: space-between;
    align-items: end;
    color: var(--black);
    padding: 0 0 30px;
    margin: 4rem 0 6rem;
    position: relative;
}
.subevent .sub_main .innerBox .sub_title::after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: var(--black);
    position: absolute;
    bottom: 0; left: 0;
}
.subevent .sub_main .innerBox .sub_txtBox{
    color: var(--black);
}
.subevent .cont01{
    padding: 0 ;
    width: 100%;
    text-align: center;
}
.subevent .cont01 .innerBox{
    display: flex;
    justify-content: center;
}
.subevent .cont01 .innerBox .imgapp01{
    width: 70rem;
}
.subevent .cont01 .innerBox .imgapp01 img{
    width: 100%;
}
