@charset "utf-8";



/* sub01========================================== */
/* 메인 */
.sub01 header {
    color: var(--black);

}
.sub01 .sub_main .innerBox .sub_title{
    color: var(--black);
    margin-bottom: 0;
}
.sub01 .sub_main .btn {
    color: var(--black);
    border: 1px solid var(--black);
}

.sub01 .sub_main{
    background: url(../img/sub01_visualbg01.png) no-repeat center / cover;
}
.sub01 .cont02{
    background: #fff6f4;
}
.sub01 .sub_main .btn:hover{
    background: var(--black);
    color: var(--white);
}
.sub01 .sub_main .innerBox .sub_txtBox{
    color: var(--black);
}

/* sub02========================================== */
/* header_white */
.sub02 header {
    color: var(--white);
}

.sub02 header .PCgnb.fixed {
    color: black;
}
/* 메인 */
.sub02 .sub_main{
    background: url(../img/sub02_visualbg01.png) no-repeat center/cover;
}
.sub02 .cont02{
    background: #e0edf6;
}
/* sub03========================================== */

/* 메인 */

.sub03 .sub_main{
    background: url(../img/sub03_visualbg01.png) no-repeat center/cover;
}
.sub03 .cont02{
    background: #e0edf6;
}
/* sub04========================================== */

/* 메인 */
.sub04 header {
    color: var(--black);
}
.sub04 .sub_main .innerBox .sub_title{
    color: var(--black);
}
.sub04 .sub_main .innerBox .sub_txtBox{
    color: var(--black);
}

.sub04 .sub_main{
    background: url(../img/sub04_visualbg01.png) no-repeat center/cover;
}
.sub04 .cont02{
    background: #e2e2e2;
}
/* sub05========================================== */

/* 메인 */
.sub05 header {
    color: var(--black);
}
.sub05 .sub_main .innerBox .sub_title{
    color: var(--black);
}
.sub05 .sub_main .innerBox .sub_txtBox{
    color: var(--black);
}

.sub05 .sub_main{
    background: url(../img/sub05_visualbg01.png) no-repeat center/cover;
}
.sub05 .cont02{
    background: #e2e2e2;
}
/* sub06========================================== */

/* 메인 */

.sub06 .sub_main{
    background: url(../img/sub06_visualbg01.png) no-repeat center/cover;
}
.sub06 .cont02{
    background: #f2e8e6;
}
.sub06 .cont02 .innerBox figure{
    margin: 100px auto;
}
/* sub07========================================== */
/* header_white */
.sub07 header {
    color: var(--white);
}

.sub07 header .PCgnb.fixed {
    color: black;
}
/* 메인 */

.sub07 .sub_main{
    background: url(../img/sub07_visualbg01.png) no-repeat center/cover;
}
.sub07 .cont02{
    background: #e5e5e5;
}
.sub07 .cont02 .innerBox figure{
    margin: 100px auto;
}
/* sub08========================================== */

/* 메인 */
.sub08 header {
    color: var(--black);
}
.sub08 .sub_main .innerBox .sub_title{
    color: var(--black);
    width: 500px;
}
.sub08 .sub_main .innerBox .sub_txtBox{
    color: var(--black);
}
.sub08 .sub_main{
    background: url(../img/sub08_visualbg01.png) no-repeat center/cover;
}
.sub08 .cont02{
    background: #cccdd1;
}
.sub08 .cont02 .innerBox figure{
    margin: 100px auto;
}

/* sub_app01========================================== */

/* 메인 */
.sub_app01 header {
    color: var(--black);
}
.sub_app01 .sub_main .innerBox .sub_title{
    color: var(--black);
    width: 500px;
}
.sub_app01 .sub_main .innerBox .sub_txtBox{
    color: var(--black);
}
.sub_app01 .sub_main{
    background: url(../img/sub_app01_visualbg01.png) no-repeat center/cover;
}
.sub_app01 .cont02{
    background: #e7e9eb;
}
.sub_app01 .cont02 .innerBox figure{
    margin: 100px auto;
}
/* sub_app02========================================== */

/* header_white */
.sub_app02 header {
    color: var(--white);
}

.sub_app02 header .PCgnb.fixed {
    color: black;
}
/* 메인 */
.sub_app02 .sub_main .innerBox .sub_title{
    width: 500px;
}
.sub_app02 .sub_main{
    background: url(../img/sub_app02_visualbg01.png) no-repeat center/cover;
}
.sub_app02 .cont02{
    background: #e7e9eb;
}
.sub_app02 .cont02 .innerBox figure{
    margin: 100px auto;
}
/* sub_app03========================================== */

/* header_white */
.sub_app03 header {
    color: var(--white);
}

.sub_app03 header .PCgnb.fixed {
    color: black;
}
/* 메인 */
.sub_app03 .sub_main .innerBox .sub_title{
    width: 500px;
}
.sub_app03 .sub_main{
    background: url(../img/sub_app03_visualbg01.png) no-repeat center/cover;
}
.sub_app03 .cont02{
    background: #e7e9eb;
}
.sub_app03 .cont02 .innerBox figure{
    margin: 100px auto;
}

/* sub_app04========================================== */
/* header_white */
.sub_app04 header {
    color: var(--white);
}

.sub_app04 header .PCgnb.fixed {
    color: black;
}
/* 메인 */
.sub_app04 .sub_main .innerBox .sub_title{
    width: 500px;
}
.sub_app04 .sub_main{
    background: url(../img/sub_app04_visualbg01.png) no-repeat center/cover;
}
.sub_app04 .cont02{
    background: #e7e9eb;
}
.sub_app04 .cont02 .innerBox figure{
    margin: 100px auto;
}